body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    width: 100%;
    margin: 20px 0px 20px 0px;
}

.body_galery{
    background-color: whitesmoke;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

table, td, tr{
    margin-left: 40px;
    font-size: 16px;
}


#grad{
    background-color: rgb(0, 0, 0); /* For browsers that do not support gradients */
    
    height: 100%;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-align: center;
}
.h1_a{
    color: white;
}

input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

textarea{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 16px;
    font-weight: 700;
    width: 125px; height: 35px;
    border: 0ch;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button_login{
    background-color: #49B6FF;
    color: white;
}

.button_signup{
    background-color: rgb(216, 213, 213);
}

.container_login{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: white;
    margin-top: 20px;
    margin: 0 auto 0 auto;
    width: 300px;
    height: 240px;
    padding: 20px 0px 70px 0px;
    border: 0ch;
    border-radius: 10px;
}

.container_signup{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: white;
    margin-top: 20px;
    margin: 0 auto 0 auto;
    width: 450px;
    height: 400px;
    padding: 20px 20px 70px 20px;
    border: 0ch;
    border-radius: 10px;
}

.container_gallery{
    background-color: white;
    margin-top: 20px;
    margin: 0 auto 0 auto;
    width: 60%;
    height: 20%;
    padding: 20px 0px 70px 0px;
    border: 0ch;
    border-radius: 10px;
}

.container_kosong{
    height: 460px;
}

.container_kosong2{
    height: 100px;
}

.input_1{
    background-color: #dee2e6;
    border: 0ch;
    border-radius: 10px;
    width: 250px;
    color: black;
    padding: 8px;
}

.input_2{
    background-color: #dee2e6;
    border: 0ch;
    border-radius: 10px;
    width: 300px;
    color: black;
    padding: 8px;
    margin-top: 1px;
}

.password{
    background-color: #dee2e6;
    border: 0ch;
    border-radius: 10px;
    width: 250px;
    color: black;
    padding: 8px;
    margin-top: 15px;
}

.email{
    background-color: #dee2e6;
    border: 0ch;
    border-radius: 10px;
    width: 250px;
    color: black;
    padding: 8px;
    
}
